body {
    font-family: serif;
    background: linear-gradient( #b0e8ad, #5d719c); /* background color*/
    background-attachment: fixed;
    height: 100vh;
}

header{
    padding-left: 1em;
}

.container {
    height: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-family: sans-serif, Arial, Helvetica;
}

.joke{
    border: solid;
    border-radius: 15px; /* Rounded corners */
    background-color: #dbcc5c; 
    width: 80%;
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#author{
    font-style: italic;
}

#btn{
    font-family: sans-serif, Arial, Helvetica;
    color: azure;
    border-radius: 5px; /* Rounded corners */
    background-color: #9ddc66;
    width: 25%;
    height: 3em;
}